html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}


details,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

[hidden] {
    display: none
}

a {
    background-color: #fff0
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    margin: .67em 0;
    font-size: 2em
}

small {
    font-size: 80%
}

img {
    border: 0
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

button,
input {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,
html input[type=button],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0
}

input {
    line-height: normal
}

@media print {

    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }

    a,
    a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }

    h2,
    h3 {
        page-break-after: avoid
    }

    .label {
        border: 1px solid #000
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: #fff0
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #337ab7;
    text-decoration: none
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
.h4,
.h6,
h1,
h2,
h3,
h4,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
.h4 .small,
.h4 small,
.h6 .small,
.h6 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small,
h4 .small,
h4 small,
h6 .small,
h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h1 .small,
.h1 small,
.h2 .small,
.h2 small,
.h3 .small,
.h3 small,
h1 .small,
h1 small,
h2 .small,
h2 small,
h3 .small,
h3 small {
    font-size: 65%
}

.h4,
.h6,
h4,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h4 .small,
.h4 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h6 .small,
h6 small {
    font-size: 75%
}

.h1,
h1 {
    font-size: 36px
}

.h2,
h2 {
    font-size: 30px
}

.h3,
h3 {
    font-size: 24px
}

.h4,
h4 {
    font-size: 18px
}

.h6,
h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width:768px) {
    .lead {
        font-size: 21px
    }
}

.small,
small {
    font-size: 85%
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px
}

dl {
    margin-top: 0;
    margin-bottom: 20px
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee
}

blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child {
    margin-bottom: 0
}

blockquote .small,
blockquote footer,
blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777
}

blockquote .small:before,
blockquote footer:before,
blockquote small:before {
    content: '\2014 \00A0'
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.row {
    margin-right: -15px;
    margin-left: -15px
}


.col-lg-10,
.col-lg-2,
.col-md-10,
.col-md-12,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-sm-10,
.col-sm-12,
.col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {

    
    .col-sm-10,
    .col-sm-12,
    .col-sm-6 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-6 {
        width: 50%
    }

    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
}

@media (min-width:992px) {

    
    .col-md-10,
    .col-md-12,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-5 {
        width: 41.66666667%
    }

    .col-md-4 {
        width: 33.33333333%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-offset-2 {
        margin-left: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
}

@media (min-width:1200px) {

    
    .col-lg-10,
    .col-lg-2 {
        float: left
    }

    .col-lg-10 {
        width: 83.33333333%
    }

    .col-lg-2 {
        width: 16.66666667%
    }
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555
}

.form-group {
    margin-bottom: 15px
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #fff0;
    border-radius: 4px
}

.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}


.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / .125);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / .125)
}


.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav>li>a>img {
    max-width: none
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px
}

.breadcrumb>li {
    display: inline-block
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0"
}

.breadcrumb>.active {
    color: #777
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label:empty {
    display: none
}

.btn .label {
    position: relative;
    top: -1px
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px
}

.badge:empty {
    display: none
}

.btn .badge {
    position: relative;
    top: -1px
}

a.badge:focus,
a.badge:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0
    }

    to {
        background-position: 0 0
    }
}

.media {
    margin-top: 15px
}

.media:first-child {
    margin-top: 0
}

.media {
    overflow: hidden;
    zoom: 1
}


.container:after,
.container:before,
.nav:after,
.nav:before,
.row:after,
.row:before {
    display: table;
    content: " "
}


.container:after,
.nav:after,
.row:after {
    clear: both
}

.hidden {
    display: none !important
}

@-ms-viewport {
    width: device-width
}


.visible-sm,
.visible-xs {
    display: none !important
}

@media (max-width:767px) {
    .visible-xs {
        display: block !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
        display: block !important
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

body {
    font-display: swap;
    font-family: Raleway, sans-serif;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden
}

ul {
    list-style: none
}

.main-container {
    clear: both
}

.w-100 {
    width: 100% !important
}

.d-flex {
    display: flex !important
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 0 24px 0;
    width: 100%
}

.brand {
    height: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    width: 25%
}

.inline-block {
    display: inline-block
}

.list-inline {
    margin-left: 0
}

.list-inline>li {
    padding: 0 8px
}

.list-inline>li:last-child {
    padding-right: 0
}

.list-inline>li:first-child {
    padding-left: 0
}

.right {
    right: 0
}

.relative {
    position: relative;
    z-index: 2
}

.container {
    position: relative
}

.v-align-start {
    display: flex;
    align-items: flex-start;
    height: 40vh
}

.min-vh-50 {
    min-height: 50vh
}

@media all and (max-width:768px) {
    .text-center-xs {
        text-align: center !important
    }
}

.bold {
    font-weight: 600 !important
}

blockquote,
button,
h1,
h2,
h3,
h4,
h6,
input,
ol,
p,
ul {
    margin-bottom: 24px;
    margin-top: 0;
    padding: 0
}

.h1,
.h2,
.h3,
.h4,
.h6,
h1,
h2,
h3,
h4,
h6 {
    font-family: Raleway, sans-serif
}

h1,
h2,
h3,
h4,
h6 {
    color: #292929;
    font-weight: 300
}

h1 {
    font-size: 56px
}

h1.large {
    font-size: 72px;
    font-weight: 100;
    line-height: 80px
}

@media all and (max-width:990px) {
    h1 {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px
    }

    h1.large {
        font-size: 56px;
        line-height: 64px
    }
}

h2 {
    font-size: 2.2em;
    line-height: 48px
}

h2.small {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    line-height: 24px
}

h3.title {
    color: #ff4500;
    font-size: 17px;
    line-height: 22px
}

h4.title {
    color: #292929;
    font-size: 18px;
    line-height: 24px
}

h3.headline {
    color: #ff4500;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    line-height: 24px;
    max-width: 1024px;
    text-transform: none;
    font-size: 1.5em;
    line-height: 700;
    line-height: 26px;
    max-width: 320px;
    text-transform: uppercase
}

.h6,
h6 {
    font-size: 12px;
    font-weight: 700;
    line-height: 24px
}

.heading-block {
    padding: 0
}

.heading-block h1 {
    font-size: 3em;
    line-height: 1em;
    color: #fff;
    font-weight: 500
}

.heading-block h2 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: normal !important;
    text-transform: none
}

@media all and (max-width:768px) {
    h1.large {
        font-size: 32px;
        font-weight: 300;
        line-height: 40px
    }

    h2 {
        font-size: 1.6em;
        line-height: 1.5em
    }

    h3 {
        font-size: 24px;
        line-height: 32px
    }

    h4 {
        font-size: 18px;
        line-height: 26px
    }

    .h6,
    h6 {
        font-size: 12px;
        font-weight: 700;
        line-height: 24px
    }

    .heading-block h1 {
        font-size: 1.7em;
        max-height: min-content;
        line-height: 1em;
        color: #fff;
        font-weight: 600 !important;
        text-transform: uppercase
    }

    .heading-block h2 {
        font-size: 1.5em;
        line-height: 1em;
        letter-spacing: normal !important;
        margin-left: 8px
    }

    #slides {
        width: 100%;
        height: 100%;
        display: flex;
        background-position: center center !important
    }

    #slides .heading-block h1 {
        display: flex
    }

    #slides .image {
        width: 100%;
        height: 400px
    }
}

.uppercase {
    font-weight: 400;
    text-transform: uppercase
}

h1.uppercase {
    letter-spacing: 17px;
    margin-right: -17px
}

h2.uppercase {
    letter-spacing: 10px;
    margin-right: -10px
}

h3.uppercase {
    letter-spacing: 1px;
    margin-right: -6px
}

h4.uppercase {
    letter-spacing: 3px;
    margin-right: -3px
}


h6.uppercase {
    font-weight: 700;
    letter-spacing: 2px
}

p {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    color: #000
}

p.span {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 500;
    color: orange
}

p.lead {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 500
}

@media all and (max-width:768px) {
    p.lead {
        font-size: 15px;
        line-height: 24px
    }

    p {
        font-size: 1.2em
    }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    outline: 0;
    text-decoration: none
}

.bg-light a {
    color: #ff4500
}

.bg-light a:hover {
    color: #ff4500;
    opacity: 1
}

a:hover {
    color: #ff4500;
    text-decoration: none
}

label {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    background-color: #28a745 !important;
    text-transform: uppercase
}

blockquote {
    background: #f5f5f5;
    overflow: hidden;
    padding: 2em
}

blockquote p {
    color: #000;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px
}

.badge {
    position: absolute !important;
    right: 10px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background-color: #019724 !important;
    color: #fff !important;
    padding: 5px 8px !important;
    border-radius: 0 !important;
    font-size: .8em !important
}

.bg-secondary blockquote {
    background: #fff;
    border-color: #ff4500
}

blockquote .author {
    display: block;
    float: right;
    font-size: 12px;
    margin-top: 16px
}

.fw-medium {
    font-weight: 500 !important
}

.text-orange {
    color: #ff4500
}

@media all and (max-width:768px) {
    br {
        display: none
    }

    blockquote {
        font-size: 15px;
        line-height: 17px;
        padding: 2em
    }
}

.text-left {
    text-align: left !important
}

@media all and (max-width:768px) {
    .text-left-xs {
        text-align: left !important
    }
}

ul.lead li {
    font-size: 1.5em;
    font-weight: 400 !important;
    line-height: .25em;
    padding-bottom: 1rem;
    position: relative
}

ul.lead li a {
    font-size: 16px;
    color: #000;
    font-weight: 400 !important
}

ul.lead li a:hover {
    font-size: 16px;
    color: #ff4500;
    font-weight: 500 !important
}

ul.lead li i {
    color: #ff4500;
    font-size: 22px
}

.bg-secondary {
    background: #f8f8f8
}

.bg-white {
    background: #fff
}

.bg-dark {
    background: #000
}

.bg-light {
    background: #f5f5f5
}

.bg-form {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / .3);
    -moz-box-shadow: 0 2px 4px 0 rgb(0 0 0 / .3);
    -ms-box-shadow: 0 2px 4px 0 rgb(0 0 0 / .3);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / .3);
    padding: 24px;
    position: relative
}

section {
    overflow: hidden;
    padding: 96px;
    position: relative;
    height: fit-content
}

footer {
    overflow: hidden;
    padding: 0 0;
    position: relative
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h6,
footer.bg-dark h1,
footer.bg-dark h2,
footer.bg-dark h3,
footer.bg-dark h4,
footer.bg-dark h6,
nav.bg-dark h1,
nav.bg-dark h2,
nav.bg-dark h3,
nav.bg-dark h4,
nav.bg-dark h6 {
    color: #fff
}

.bg-dark li,
.bg-dark p,
.bg-dark span,
footer.bg-dark a,
footer.bg-dark li,
footer.bg-dark p,
footer.bg-dark span,
nav.bg-dark li,
nav.bg-dark p,
nav.bg-dark span {
    color: #fefefe
}

@media all and (max-width:768px) {
    section {
        padding: 60px 8px 60px 8px
    }
}

.overlay:before {
    background: linear-gradient(180deg, #000000 0, #fff0 50%);
    content: '';
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.bg-light.overlay:before {
    background: #fff;
    content: '';
    height: 100%;
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

@media all and (max-width:768px) {

    .w-100 {
        width: 100% !important
    }

    .btn-lg {
        height: 50px;
        line-height: 46px;
        width: 100%
    }
}

.btn {
    border: 2px solid #ff4500;
    border-radius: 0;
    color: #ff4500;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    letter-spacing: 1px;
    line-height: 38px;
    margin-bottom: 24px;
    margin-right: 8px;
    min-width: auto;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.btn:last-child,
.btn:last-of-type {
    margin-right: 0
}

.btn:hover {
    background: #fc7500;
    color: #fff;
    font-style: normal;
    font-weight: bolder
}

.btn-lg {
    height: 50px;
    line-height: 46px
}

.btn-filled {
    background: #ff4500;
    color: #fff
}

.btn-white {
    border-color: #ff4500;
    color: #fff
}

.btn-white:hover {
    background: #fff;
    color: #ff4500
}

.btn-rounded {
    border-radius: 25px
}

body.btn-rounded .btn {
    border-radius: 25px !important
}

.bg-light .btn {
    border-color: #f5f5f5;
    color: #222
}

.bg-light .btn:visited,
.bg-light .btn:visited:hover {
    color: #222
}

.bg-light .btn-filled,
.bg-light .btn-filled:visited {
    color: #fff
}

.btn:visited {
    color: #5edcd0
}

.btn-white:visited,
.btn:visited:hover {
    color: #fff
}

.btn-white:visited:hover {
    color: #ff4500;
    font-weight: 700
}

.btn-filled:visited {
    color: #fff
}

.btn.bg-dark {
    border-color: #f5f5f5;
    color: #fff
}

.btn.bg-dark:hover {
    background: #434343
}

.nav-container {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    max-width: 100%
}

nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #fff;
    max-width: 100%
}

nav ul {
    margin-bottom: 0
}

.module {
    display: inline-block;
    padding: 0 32px
}

.module-group {
    display: inline-block
}

.module-group.left,
.module.left {
    float: left
}

.module-group.right,
.module.right {
    float: right
}

.nav-bar .btn,
nav .btn {
    height: auto;
    margin: 0
}

.nav-bar {
    border-bottom: 1px solid #f5f5f5;
    height: 65px;
    line-height: 65px;
    max-height: 65px
}

.nav-bar .module,
.nav-bar .module-group {
    height: 65px
}

.nav-bar a {
    display: inline-block;
    height: 75px
}

.logo {
    max-width: 250px
}

.logo-light {
    display: none
}

nav.bg-dark .logo-light {
    display: inline
}

nav.bg-dark .logo-dark {
    display: none
}

.menu {
    font-family: Raleway, sans-serif;
    height: 60px;
    width: 100%
}

.menu.inline-block {
    width: auto
}

.menu li a {
    color: #292929;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 100%;
    opacity: 1;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    white-space: normal
}

.menu li a:hover {
    opacity: 1 !important;
    color: #ff4500
}

.menu>li {
    float: left;
    margin-right: 32px;
    opacity: 1;
    position: relative;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.menu>li:last-child {
    margin-right: 0
}

.menu>li:last-child>ul {
    right: 0
}

.menu>li:last-child>ul ul {
    left: auto;
    right: 100%
}

.menu>li ul {
    background: #292929;
    margin-top: -1px;
    opacity: 0;
    padding: 8px 0;
    position: absolute;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    visibility: hidden;
    width: 200px;
    z-index: 99
}

.menu>li>ul>li {
    line-height: 24px;
    position: relative;
    vertical-align: top;
    width: 100%
}

.menu>li>ul>li i {
    display: inline-block;
    margin-right: 2px
}

.menu>li>ul li a {
    color: #fff;
    height: auto;
    padding: 6px 24px
}

.menu>li>ul>li>ul {
    left: 100%;
    top: 0
}

.menu>li:hover>ul {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    visibility: visible
}


.menu>li>ul>li:hover>ul {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    visibility: visible
}

.module.widget-handle {
    cursor: pointer;
    margin: 0;
    padding: 0 24px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media all and (max-width:1100px) {
    .module.widget-handle {
        padding: 0 16px
    }
}

.module.widget-handle i {
    font-size: 20px;
    line-height: 53px;
    opacity: .5;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.module.active i,
.module.widget-handle:hover i {
    opacity: 1
}

.widget-handle .function {
    background: #292929;
    -webkit-box-shadow: 0 0 10px 0 rgb(0 0 0 / .2);
    -moz-box-shadow: 0 0 10px 0 rgb(0 0 0 / .2);
    box-shadow: 0 0 10px 0 rgb(0 0 0 / .2);
    cursor: default;
    margin-top: -2px;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    visibility: hidden;
    width: 200px;
    z-index: 99
}

.module.widget-handle:hover .function {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    visibility: visible
}

.module.widget-handle .title {
    display: none;
    font-family: Raleway, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: .5;
    text-transform: uppercase;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.module.widget-handle .title:hover {
    opacity: 1
}

.nav-open {
    height: auto !important;
    max-height: 10000px !important
}

.nav-open .mobile-toggle {
    border-bottom: 1px solid #ccc
}

@media all and (max-width:1120px) {
    .menu>li {
        margin-right: 24px
    }
}

@media all and (max-width:990px) {

    .nav-bar,
    .nav-bar .module,
    .nav-bar .module-group {
        height: auto;
        overflow: hidden
    }

    .nav-bar .module {
        padding: 0 16px
    }

    .nav-bar .module-group {
        padding: 0 0;
        width: 100%
    }

    .nav-bar .module-group .module {
        display: block;
        float: none;
        width: 100%
    }

    .menu {
        height: auto
    }

    .menu.inline-block {
        width: 100%
    }

    .menu a {
        height: auto;
        line-height: 24px;
        padding: 4px 0
    }

    .menu li {
        display: block;
        float: none;
        line-height: 24px;
        max-width: 100%;
        width: 100%
    }

    .menu>li ul {
        left: 0;
        opacity: 1;
        position: relative;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        visibility: visible;
        width: 100%
    }

    .menu>li>ul {
        display: none;
        opacity: 1;
        position: relative;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        visibility: visible
    }

    .menu>li>ul>li>ul {
        display: none;
        left: 0;
        padding: 0
    }

    
    .menu>li>ul li a {
        padding: 4px 16px
    }

    
    .toggle-sub>ul {
        display: block !important
    }

    .module.widget-handle {
        border-left: none;
        border-top: nne;
        line-height: 65px;
        min-height: 65px
    }

    .module.widget-handle .menu {
        line-height: 40px
    }

    .module.widget-handle .menu li {
        line-height: 40px
    }

    .module.widget-handle i {
        line-height: 40px
    }

    .module.widget-handle .title {
        bottom: 3px;
        display: inline-block;
        margin-left: 8px;
        position: relative
    }

    .widget-handle .function {
        box-shadow: none !important;
        display: none;
        margin-top: 0;
        opacity: 1;
        position: relative;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        visibility: visible;
        width: 100%
    }

    .mobile-toggle {
        border-bottom: none !important;
        border-left: none
    }

    .mobile-toggle i {
        line-height: 53px !important
    }

    nav.bg-dark .module.widget-handle {
        border-top: 0 solid #fff0
    }

    nav.bg-dark .mobile-toggle {
        border-left: 0 solid transparent !important
    }

    nav.bg-dark .nav-open .mobile-toggle {
        border-bottom: 0 solid #fff0
    }
}

nav.absolute {
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999
}

nav.absolute {
    position: absolute
}

nav.transparent {
    background: 0 0;
    opacity: 1
}

nav.transparent .menu>li>a,
nav.transparent .module.widget-handle i {
    color: #fff;
    font-weight: 600
}

nav.transparent .nav-bar {
    border-bottom: none
}

nav.transparent .module.widget-handle {
    border-left: none
}

nav.transparent .menu>li>a,
nav.transparent .module.widget-handle i {
    font-weight: 700;
    letter-spacing: 1.2px;
    opacity: 1
}

nav.transparent .logo-dark {
    display: none
}

nav.transparent .logo-light {
    display: inline
}

@media all and (max-width:990px) {
    nav.transparent .nav-open {
        background: #fff
    }

    nav.transparent .nav-open .menu>li>a,
    nav.transparent .nav-open .module.widget-handle i {
        color: #000;
        font-size: 1.2rem
    }

    nav.transparent .nav-open .logo-dark {
        display: inline
    }

    nav.transparent .nav-open .logo-light {
        display: none
    }

    .menu>li:last-child>ul ul {
        right: 0
    }
}

nav.bg-dark .menu>li>a,
nav.bg-dark .module.widget-handle i {
    color: #fff;
    opacity: 1
}

nav.bg-dark .module.widget-handle {
    border-left: none
}

nav.bg-dark .nav-bar {
    border-bottom: none
}

.icon {
    color: #292929;
    display: inline-block;
    font-size: 32px
}

.bg-dark .icon {
    color: #fff
}

.icon-sm {
    font-size: 32px
}

@media all and (max-width:768px) {
    .icon {
        font-size: 48px
    }

    .icon-sm {
        font-size: 32px
    }
}

button,
input {
    font-family: Raleway, sans-serif
}

button,
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.bg-secondary input[type=text] {
    background: #fff
}


input[type=text] {
    background: #f5f5f5;
    border: none;
    border-radius: 0;
    font-weight: 500;
    height: 50px;
    margin-bottom: 24px;
    padding-left: 20px;
    width: 100%
}

button.transparent,
input.transparent {
    background: 0 0;
    border: 1px solid rgb(255 255 255 / .5);
    color: #fff !important
}


input[type=text]:focus {
    outline: 1px solid #ccc
}

::-webkit-input-placeholder {
    color: #777;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

::-moz-placeholder {
    color: #777;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase
}

button.transparent::-webkit-input-placeholder,
input.transparent::-webkit-input-placeholder {
    color: #fff
}

button.transparent::-moz-input-placeholder,
input.transparent::-moz-input-placeholder {
    color: #fff
}

button.transparent:-moz-input-placeholder,
input.transparent:-moz-input-placeholder {
    color: #fff
}

button.transparent:-ms-input-placeholder,
input.transparent:-ms-input-placeholder {
    color: #fff
}

button[type=submit],
input[type=submit] {
    background: #5edcd0;
    border: 2px solid #5edcd0;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    line-height: 48px;
    text-transform: uppercase;
    width: 100%
}

button[type=submit]:focus,
input[type=submit]:focus {
    outline: 0
}

@media all and (min-width:991px) {

    button.col-md-6,
    input.col-md-6 {
        float: left;
        width: 49%
    }

    button.col-md-6:first-of-type,
    input.col-md-6:first-of-type {
        margin-right: 1%
    }

    button.col-md-6:last-of-type,
    input.col-md-6:last-of-type {
        margin-left: 1%
    }
}

@keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(.1)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0;
        transform: scale(.1)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale(1.2)
    }
}

.accordion .title {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.accordion .content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease
}

.accordion li.active .content {
    max-height: initial
}

.accordion p:last-child {
    margin-bottom: 0
}

.accordion-1 li {
    margin-bottom: 10px
}

.accordion-1 li:last-child {
    margin-bottom: 0
}

.accordion-1 .title {
    background: #f5f5f5;
    padding: 13px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.bg-secondary .accordion-1 .title {
    background: #ebebeb
}

.bg-secondary .accordion-1 .title:hover {
    background: #e4e4e4
}

.accordion-1 .title span {
    font-family: Raleway, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase
}

.accordion-1 .active .title {
    background: #eee;
    color: #fff
}

.accordion-1 .content {
    border-top: none;
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.accordion-1 .content p {
    padding: 8px
}

.accordion-1 .active .content {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0)
}

.accordion-1 .title:hover {
    background: #eee
}

.accordion-1 .active .title:hover {
    background: #eee
}

.breadcrumb {
    margin-bottom: 24px
}

.breadcrumb-2 {
    background: 0 0;
    padding: 0
}

.breadcrumb-2 li,
.breadcrumb-2 li a {
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: none
}

.breadcrumb-2>li+li:before {
    color: #fff;
    padding: 0 8px
}

.bg-dark .breadcrumb a {
    color: #fff
}

@media all and (max-width:768px) {
    .breadcrumb-2>li+li:before {
        padding: 0 4px
    }
}

.feature.bordered {
    border: 1px solid #ffe0b2;
    padding: 32px
}

.feature {
    margin: 0
}

.feature p:last-child {
    margin-bottom: 0
}

@media all and (max-width:768px) {

    .feature.bordered {
        padding: 24px
    }
}

.bg-light .feature.bordered {
    border-color: rgb(34 34 34 / .2)
}

.link-list {
    line-height: 32px
}

.link {
    font-weight: 600;
    color: #ff4500 !important
}

.link-list a:after {
    content: "\e628";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    margin-left: 8px;
    text-transform: none
}

img {
    max-width: 100%
}

@keyframes kenBurnsEast {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }

    to {
        transform: scale(1.2) translateX(100px);
        -webkit-transform: scale(1.2) translateX(100px)
    }
}

@-webkit-keyframes kenBurnsEast {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }

    to {
        transform: scale(1.2) translateX(100px);
        -webkit-transform: scale(1.2) translateX(100px)
    }
}

@keyframes kenBurnsWest {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }

    to {
        transform: scale(1.2) translateX(-100px);
        -webkit-transform: scale(1.2) translateX(-100px)
    }
}

@-webkit-keyframes kenBurnsWest {
    from {
        transform: scale(1) translateX(0);
        -webkit-transform: scale(1) translateX(0)
    }

    to {
        transform: scale(1.2) translateX(-100px);
        -webkit-transform: scale(1.2) translateX(-100px)
    }
}

.cover {
    margin: 0;
    padding: 0
}

.cover h1,
.cover h2,
.cover h3,
.cover h4,
.cover h6 {
    color: #fff
}

.cover li,
.cover p,
.cover span {
    color: #fff
}

.cover .slides li .container {
    position: relative;
    z-index: 4
}

iframe {
    border: none
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#footer {
    border-top: 5px solid rgba(var(--cnvs-contrast-rgb), .15);
    color: var(--cnvs-contrast-500);
    position: relative;
    background-color: var(--cnvs-footer-bg);
    border-top: var(--cnvs-footer-top-border)
}

.footer.bg-dark a {
    color: #fff
}

.mb0 {
    margin-bottom: 0 !important
}

.mb8 {
    margin-bottom: 8px
}

.mb16 {
    margin-bottom: 16px
}

.mb32 {
    margin-bottom: 32px
}

.mb40 {
    margin-bottom: 40px
}

.mb64 {
    margin-bottom: 64px
}

.mt0 {
    margin-top: 0 !important
}

.mt16 {
    margin-top: 16px
}

.mt24 {
    margin-top: 24px
}

.mt32 {
    margin-top: 32px
}

.mt40 {
    margin-top: 40px
}

.mt104 {
    margin-top: 104px
}

.pt0 {
    padding-top: 0
}

.pt96 {
    padding-top: 96px
}

.pt160 {
    padding-top: 160px
}

.pb96 {
    padding-bottom: 96px
}

.pb160 {
    padding-bottom: 160px
}

.w-100 {
    width: 100% !important
}

@media all and (max-width:768px) {
    .mb-xs-0 {
        margin-bottom: 0
    }

    .mb-xs-8 {
        margin-bottom: 8px
    }

    .mb-xs-16 {
        margin-bottom: 16px
    }

    .mb-xs-24 {
        margin-bottom: 24px
    }

    .mb-xs-32 {
        margin-bottom: 32px
    }

    .mb-xs-64 {
        margin-bottom: 64px
    }

    .mt-xs-0 {
        margin-top: 0 !important
    }

    .mt-xs-8 {
        margin-top: 8px
    }

    .mt-xs-32 {
        margin-top: 32px
    }

    .pt-xs-64 {
        padding-top: 64px
    }
}


.slides {
    list-style: none;
    margin: 0;
    padding: 0
}

.whatsapp {
    background-color: #25d366;
    border-radius: 100px;
    bottom: 40px;
    color: #fff;
    font-size: 18px;
    height: 60px;
    position: fixed;
    right: 40px;
    text-align: center;
    width: 60px;
    z-index: 100
}

.whatsapp-icon {
    margin-top: 10px
}

.whatsapp:hover {
    color: #fff;
    font-size: 20px
}

@media all and (max-width:768px) {

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fadeUp .8s ease-out
    }
}

.slides {
    width: 100%;
    height: 45vh;
    position: relative
}

.content {
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 8%;
    color: #fff;
    max-width: fit-content;
    animation: fadeUp .8s ease-out
}

.content h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    color: #fff
}

.content h2 {
    font-size: 1.5em;
    margin: 0 0 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff
}

.content h3 {
    font-size: 2em;
    margin: 0 0 20px;
    color: #fff
}

.content p {
    font-size: 1.5em
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@media (max-width:768px) {
    .content h1 {
        font-size: 2.5rem
    }

    .content h2 {
        font-size: 2rem;
        font-weight: 500;
        margin: 0 0 20px
    }

    .content p {
        font-size: 1rem;
        color: #fff
    }
}

.social-icon {
    font-size: 1.5em !important
}

#content {
    position: relative;
    background-color: #fff
}

.feature-item {
    display: flex;
    align-items: top;
    padding: 15px
}

.feature-icon-container {
    font-size: 2.5rem;
    color: #ff4500;
    margin-right: 15px;
    min-width: 30px
}

.feature-title {
    font-family: Raleway, sans-serif;
    font-size: 1.3em;
    font-weight: 500;
    margin: 0;
    line-height: 1.2em;
    color: #000
}

.feature-description {
    margin-top: 5px;
    color: #292929;
    font-size: 16px
}